<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
  <div *ngIf='showmobilenumber'>
  <ion-row style="background-color: white;font-size: x-large;">
    <ion-col col-2 style="color: orange;text-align:center;">
      <ion-icon name="arrow-back" (click)='backbtn()'></ion-icon>
     </ion-col>
     </ion-row>
     <div class="imgholder" text-center>
      <img src="assets/img/forgotPass.png" alt="">
    </div>
    <p style="text-align:center;color: orange;font-size: x-large;">Forgot your Password ?</p>
    <p style="text-align:center;color: orange;">Enter your register mobile number to get otp</p>
    <ion-item>
      <ion-label><ion-icon name="phone-portrait" slot="start"></ion-icon></ion-label>
      <ion-input type="tel" placeholder='Phone number'  [(ngModel)]='mobile' pattern="[0-9]*" #ctrl='ngModel' (ionChange)='mobilenumberEnter(mobile,ctrl)'></ion-input>
      
    </ion-item>
    
  <div style='text-align: center;padding: 10px;'>
    <button ion-button round  style="background-color: orange;font-size: large;" [disabled]='!mobilevalidation' (click)='sendOtp(mobile)'>Get OTP</button>
  </div>
</div>
<div *ngIf='showOtpPage'>
  <div class="imgholder" text-center>
    <img src="assets/img/preview.jpg" alt="">
  </div>
  <p style="text-align:center;color: orange;font-size: x-large;">varification</p>
  <p style="text-align:center;color: orange;">Please enter one time varification code sent to {{mobile}}
  </p>  
              <ion-row text-center>
                <ion-col col-3></ion-col>
                  <ion-col col-1 >
                   <ion-input #otp1 required maxLength="1" class='otp' (keyup)="otpController($event,otp2,'')">
                   </ion-input>
                  </ion-col>
                   <ion-col col-1>
                   <ion-input #otp2 required maxLength="1" class='otp' (keyup)="otpController($event,otp3,otp1)">
                   </ion-input>
                  </ion-col>
                  <ion-col col-1 >
                   <ion-input #otp3 required maxLength="1"  class='otp' (keyup)="otpController($event,otp4,otp2)">
                   </ion-input>
                  </ion-col>
                  <ion-col col-1 >
                    <ion-input #otp4 required maxLength="1"  class='otp' (keyup)="otpController($event,otp5,otp3)">
                    </ion-input>
                   </ion-col>
                   <ion-col col-1 >
                    <ion-input #otp5 required maxLength="1"  class='otp' (keyup)="otpController($event,otp6,otp4)">
                    </ion-input>
                   </ion-col>
                  <ion-col col-1 >
                   <ion-input #otp6  required maxLength="1" class='otp' (keyup)="otpController($event,'',otp5)">
                   </ion-input>
                  </ion-col>
                  <ion-col col-3> <div id="countdown" *ngIf='!showresendButton'>
                    <div id="countdown-number">{{countdowncount}}</div>
                    <svg>
                      <circle r="18" cx="20" cy="20"></circle>
                    </svg>
                  </div></ion-col>
                </ion-row>
                <p style="color: orange;text-align:center;"  *ngIf='showresendButton' tappable (click)="resendOtp(mobile)">Resend OTP</p>
                <div style='text-align: center;padding: 20px;'>
                  <button ion-button round  style="background-color: orange;font-size: large;"   tappable (click)="varifyOtp(otp1,otp2,otp3,otp4,otp5,otp6)">Varify OTP</button>
                </div>
   
      </div>
      <div *ngIf='changepasswordpage'>
        <div class="imgholder1" text-center>
          <img src="assets/img/Change-password.jpg" alt="">
        </div>
        <p style="text-align:center;color: orange;font-size: x-large;">Reset yo password</p>
        <p style="text-align:center;color: orange;">Please enter one time varification code sent to {{mobile}}
        </p>  
        <ion-item>
          <ion-label></ion-label>
          <ion-input type="password" placeholder='New Password'  [(ngModel)]='newpassword'></ion-input>
        </ion-item>
                      <div style='text-align: center;padding: 20px;'>
                        <button ion-button round  style="background-color: orange;font-size: large;" [disabled]='!newpassword'  tappable (click)="savepassword(newpassword)">save</button>
                      </div>
         
            </div>
  </ion-content>
