
<ion-content> 
  <ion-slides pager spaceBetween="10"    style="height:30%;background-color: orange">
    <ion-slide  class='date'  >
      <p style="font-size: xx-large;margin: auto;color: white">27</p>
      <p style="margin: auto;color: white">upcoming Appoitment</p>

     
    </ion-slide>
    <ion-slide *ngFor="let item of hospitalgallary; let idx = index" class='date'   (click)='selectDate(idx,item)' [class.selectedDate]="idx === currentSelectedDate">
      <img [src]="item.imgurl" class="slide-image"/>
    </ion-slide>
    
  </ion-slides>
  

  <div *ngIf='cardItems'>
  <ion-card *ngFor="let item of cardItems">

        <ion-item>
          <ion-avatar item-start>
            <img [src]="item.dImage">
          </ion-avatar>
          <h2>{{item.dName}}</h2>
          <hr>
          <p>{{item.specialization}}</p>
       
        </ion-item>
        <button ion-button color="lightblack" clear icon-start>
          <ion-icon name='school'   is-active="false"></ion-icon>
          {{item.dEducation}}
        </button>
        <button ion-button color="lightblack" clear icon-start>
          <ion-icon name='ribbon'  is-active="false"></ion-icon>
          {{item.experience}}
        </button>
        <button ion-button color="lightblack" clear icon-start (click)='email(item.dEmail)'>
          <ion-icon name='mail'  is-active="false"></ion-icon>
          {{item.dEmail}}
        </button>
        <button ion-button color="lightblack" outline round small icon-start *ngFor='let i of item.dAvailableTime'>
          <ion-icon name='time'  is-active="false"></ion-icon>
          {{i}}
        </button>
        
        <ion-row>
          <ion-col>
            <!-- <button ion-button color="appcolor" clear small icon-start>
                <ion-icon name='cash'></ion-icon>
               500
              </button> -->
          </ion-col>
          <ion-col>
            
          </ion-col>
          <ion-col center text-center>
            <button ion-button color="appcolor" round small icon-start (click)='book_appoitment(item)'>
              <ion-icon name='calendar'></ion-icon>
              Book 
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
  </div>
  <!-- <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
</ion-content>